/* Global CSS */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: "Roboto", sans-serif;
  -moz-osx-font-smoothing: "Roboto", sans-serif;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
:root {
  --primary: #291f52;
  --heading-color: #282938;
  --bg-shade: #f5fcff;
  --github: #e62872;
  --darkblue: #1c1e53;
  --black: #000000;
  --white: #ffffff;
}
.btn {
  font-family: "Roboto";
  display: inline-block;
  padding: 14px 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}
.btn-outline-primary {
  color: var(--primary);
  background-color: var(--white);
  border: 1px solid var(--primary);
}
.btn-outline-primary:hover {
  color: var(--white);
  background-color: var(--primary);
}
.btn-primary {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}
.btn-primary:hover {
  color: var(--primary);
  background-color: var(--white);
}
.btn-github {
  color: var(--white);
  background-color: #a07143;
  border:  #a07143;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.95);
  gap: 16px;
}
.btn-github:hover {
  color:  #a07143;
  background-color: var(--white);
}
.btn-btn-outline-primary{
background-color: black;
color: white;
font-family: "Roboto";
display: inline-block;
padding: 14px 32px;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
cursor: pointer;
text-align: center;
text-decoration: none;
border-radius: 4px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
transition: background-color 0.5s;
-webkit-transition: background-color 0.5s;
-moz-transition: background-color 0.5s;
-ms-transition: background-color 0.5s;
-o-transition: background-color 0.5s;
}
/* Global CSS Ends */
/* Main Headings */

/* Heading 1 */
h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}
/* Heading 2 */
h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}
/* Heading 3 */
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

/* Pragraphs text large medium small */
/* Body 1 */
.text-lg {
  color: var(--darkblue);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
/* Body 2 */
.text-md {
  color: var(--darkblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
/* Body 3 */
.text-sm {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

/* Section Titles */
/* Skills & About Me */
.section--title {
  color: #000000;
  font-size: 21px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  align-items: flex-start;
}
/* Portfolio, Testimonial & Contact Me */
.sub--title {
  color: var(--heading-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.section--heading {
  text-align: center;
  font-weight: 400px;
  font-size: 54px;
  padding-top: 20px;
}
/* Section Titles Ends */

/* Navbar Style Start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 85.333px;
  background: rgb(190, 33, 33);
  box-shadow: 0px 5.333px 80px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
}
.navbar--items {
font-weight: 200px;
font-size: 22px;
}
.navbar--items > ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 42.667px;
  text-decoration: none;
}
.navbar--items ul > li > a {
  text-decoration: none;
}
/* Navbar Content */

/* Navbar Styler Ends */

/* Hero Section Style */

.hero--video {
  position: absolute; /* Position the video absolutely to overlay it on the image */
  top: 50px;
  left: 40px;
  width: 65%;
  height: 55%;
  object-fit: cover; /* Cover the entire area of the container */
  z-index: 1;
}

@media screen and (min-width: 768px) {
  /* Apply styles for screens wider than 768px */
  .hero--video {
    top: 100px; /* Adjust top position for larger screens */
    left: 60px; /* Adjust left position for larger screens */
    width: 60%; /* Adjust width for larger screens */
    height: 50%; /* Adjust height for larger screens */
  }
}

@media screen and (min-width: 1024px) {
  /* Apply styles for screens wider than 1024px */
  .hero--video {
    top: 70px; /* Further adjust top position for larger screens */
    left: 70px; /* Further adjust left position for larger screens */
    width: 65%; /* Further adjust width for larger screens */
    height: 50%; /* Further adjust height for larger screens */
  }
}

.ai-image {
  width: 140%; /* Make the image fill the div */
  height: auto; /* Maintain aspect ratio */
  min-width: 140%;
  width: 90%; /* Make the image fill the div */ 
  height: auto; /* Maintain aspect ratio */
  min-width: 120%;
  display: block; /* Ensure the image is treated as a block element */
  padding-left: -10px;
  margin: 7px;
}


.second-image {
  position: absolute; /* Position the video absolutely to overlay it on the image */
  bottom: 15px; /* Adjust as needed */
  left: 90px; /* Adjust as needed */
  width: 40%; /* Adjust the width of the second image */
  height: auto; /* Maintain aspect ratio */
  max-width: 35%; /* Make sure it doesn't exceed the container width */
  max-height: 35%;
  padding-bottom: 20px;
}
.third-image {
  position: absolute; /* Position the video absolutely to overlay it on the image */
  top: 18px; /* Adjust as needed */
  left: 93px; /* Adjust as needed */
  width: 40%; /* Adjust the width of the second image */
  height: auto; /* Maintain aspect ratio */
  max-width: 33%; /* Make sure it doesn't exceed the container width */
  max-height: 27%;
  padding-top: 13px;
}
.fourth-image  {
  position: absolute;
  top: 230px; /* Adjust as needed */
  left: 90px;
  width: 35%;
  height: auto;
  max-width: 37%;
  max-height: 100%;
  padding-top: 10px; /* Adjust as needed */
}


.btn-bottom-right {
  position: absolute;
  bottom: 110px;
  right: 65px;

}
.btn-resume {
  position: absolute;
  bottom: 70px;
  right: 65px;
  font-family: "Roboto";
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  background-color: var(--primary);
  color: white;
}

.btn-resume:hover {
  color: var(--primary); /* Change text color on hover */
}
.btn-resume a:hover {
  color: var(--primary)
}
.btn-resume a {
  color: white;
}

.hero--section--content-box {
  display: cover;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.hero--section--content {
  display: cover;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.hero--section--content--box > button {
  margin-top: 21.333px;
}

.section--title{
  color: #41495b;
  border-color: white;
  font-size: 45.667px;
  font-weight: 700;
  line-height: 90px;
  align-self: stretch;
  padding-top: 22px;
}
.hero--section-description {
  color: #a07143;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
}
.hero--section--img {
  width: 80%; /* Make the image fill the div */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%;
  width: 100%; /* Adjust based on how much of the container it should fill */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero--section--img > img {
  width: 100%;
  height: 100%;
}
/* Hero Section Style Ends */

/* side nav */
.random-class-1 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  width: 20%; /* Adjust as needed */
  background-color: #0c0808;
  padding: 10px;
  border-radius: 10px;
  overflow-y: auto; /* Add scroll if content exceeds height */
}

.random-class-2 {
  list-style: none;
  padding: 0;
}

.random-class-3 {
  margin-bottom: 20px;
}

.random-class-4 {
  margin-top: 10px;
  font-size: 18px;
}
.random-class-40 {
  margin-bottom: 20px;
  margin-top: 220px
}

.random-class-5 {
  font-size: 14px;
  color: #666;
}
.dev-cut {
  height: 255px;
  width: auto;
}



/* About Us */
.section-title {
  padding-bottom: 20px;
}
.card-container {
  height: 267px; /* Set the height to match the height of the image */
  display: inline-block; /* Make sure each container occupies the minimum width required */
  margin-right: -15px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10px; /* Adjust the gap between cards as needed */
  justify-content: center;
  padding: 0px; /* Adds some padding around the grid for better spacing */
}

.card-container:last-child {
  margin-right: 0; /* Remove margin for the last card to prevent extra space */
}


.card {
  height: auto;
  width: 100%;
  max-width: 100%;
}

.card-content {
  position: relative;
  width: 90%; /* Adjusts the width to fit the grid column */
  height: 250px; /* Keeps your defined height */
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card-container .card-content {
  display: flex;
  align-items: flex-start; /* Align content to the top */
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px #000000;
  background-color: #0c0808;
  color: #ffffff;
}

.card__content {
  color: #000000;
}

.card__link {
  text-decoration: none;
  color: inherit;
}




@media screen and (min-width: 1024px) {
  /* Apply styles for screens wider than 1024px */
  .about--section--img > img {
    width: 100%; /* Reset width for larger screens */
    min-width: unset; /* Reset min-width for larger screens */
  }

  .port2 {
    width: 65%; /* Reset width for larger screens */
    min-width: unset; /* Reset min-width for larger screens */
    margin-bottom: 180px !important;
  }
}

/* Portfolio */
.portfolio--section {
  display: flex;
  padding: 112px 85px;
  flex-direction: column;
  align-items: center; /* Align center for better presentation */
  gap: 80px;
  background-color: #43455f;;
}
.portfolio--container-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.portfolio--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.portfolio--section--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px; 
  width: 100%;
  background-color: #575a75;
  padding-top: 40px;
}
.portfolio--section--img {
  border-radius: 12px 12px 0 0; 
  overflow: hidden;
  height: 180px;
}
.portfolio--section--img > img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 12px 12px 0 0; 
}
.portfolio--section--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: hsl(232,17%,17%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 12px;
  width: 100%;
  max-width: 300px;
  overflow: hidden;
}
.text-sm-portfolio--link {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px; 
  border: 2px solid var(--primary); 
  border-radius: 6px;
  font-size: 0.875rem; 
  font-weight: 600;
  color: var(--primary); 
  transition: all 0.3s ease; 
  background-color: #73576e;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.text-sm-portfolio--link:hover {
  background-color: var(--primary); 
  color: #fff; 
}

.portfolio--section--card--content {
  padding: 20px;
}
.portfolio--section--title {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: white;
}
.text-md {
  font-size: 1rem;
  color: white;
}
.portfolio--link {
  text-decoration: none;
  display: flex;
  gap: 16px;
  border-bottom: 1.33px solid var(--primary);
  padding-bottom: 10.6px;
  font-weight: 600;
}
.portfolio--section--card:hover path {
  stroke: black;
}
.testimonial--section {
  display: flex;
  padding: 112px 84.3px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  background-color: var(--bg-shade);
}
.sections--heading {
  color: var(--heading-color);
}
.testimonial--section--card {
  display: flex;
  padding: 42.6px;
  flex-direction: column;
  align-items: flex-start;
  gap: 42.6px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1.33px solid #006b6a;
}
.testimonial--section--card--reviews {
  display: flex;
  align-items: flex-start;
  gap: 5.33px;
}
.testimonial--section--card--author--detail {
  display: flex;
  align-items: center;
  gap: 21.3px;
}
.testimonial--author--name {
  font-weight: 600;
  color: var(--heading-color);
}
.testimonial--author--designation {
  color: var(--darkblue);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
/* spotify */
.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  padding: 20px;
  height: 100%; /* Set a fixed height *//* Enable vertical scrolling */
  background-color:  #040306; /* Background color */
  padding: 20px; /* Add padding for better spacing */
}
.logo {
  width: 100px;
  margin-bottom: 10px;
  margin-left: -0px;
  margin-top: -17px;
}

.menu {
  list-style: none;
  padding: 0;
  margin-top: 10;
}

.menu-item {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
}

.menu-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
.menu-icon {
  width: 30px; /* Adjust icon size as needed */
  height: 30px; /* Adjust icon size as needed */
  margin-right: 10px;
}

.menu-item a:hover {
  color: #fff;
}

.active {
  font-weight: bold;
  color: #fff;
}

.main {
  flex: 1;
  background-color: #121212;
  color: #fff;
  padding: 20px;
  overflow-y: auto;
  height: 100vh;
}

.header {
  margin-bottom: 20px;
}

.pod-item {
  color: white;
  width: 17%;
  padding: 5px;
  margin: 0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu-item {
  margin: 0;
  margin-bottom: 0;
}
.p-item {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.p-item-item {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
  margin-top: 0;
}

.p-item-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
.p-item-icon {
  width: 30px; /* Adjust icon size as needed */
  height: 30px; /* Adjust icon size as needed */
  margin-right: 10px;
}

.p-item-item a:hover {
  color: #fff;
}
.search-input {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #000; /* Change background color to match Spotify */
  color: #fff;
  font-size: 14px; /* Adjust font size to match Spotify */
  font-weight: 300; /* Adjust font weight to match Spotify */
  outline: none; /* Remove outline on focus */
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #f5f5f5;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.search-input::placeholder {
  color: #b3b3b3; /* Adjust placeholder color to match Spotify */
}


.playlist-container {
  height: 100vh; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
  background-color: #121212; /* Background color */
  padding: 20px; /* Add padding for better spacing */
}

.playlist-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.playlist-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
  background-color: #282828;
  border-radius: 5px;
}
.iframe-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Three columns */
  grid-gap: 20px; /* Spacing between iframes */
}

.iframe-item {
  border-radius: 12px;
  overflow: hidden;
}


/* SpotifyUI.css */

.other-skills-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Span 4 items across */
  gap: 10px; /* Adjust the gap between items */
  width: 40%; /* 4 items per row with 20px gap in between */
  margin-right: 0px; /* Adjust the gap between items */
  margin-bottom: 0px; /* Adjust the gap below each row */
  vertical-align: top; /* Align items to the top of the row */
  box-sizing: border-box;
}
.other-skills-item {
  width: calc(100%); /* Subtract padding from width */
  padding: 10px; /* Add padding to create space between items */
  box-sizing: border-box;

}

.other-skills-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95%;
  padding: 5px;
  
}
.back-button {
  position: absolute;
  top: 10px;
  left: 120px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.back-image {
  width: 20px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
}



.playlist-item-details {
  padding-top: 10px; /* Add some space between image and title */
}

.playlist-item-image-other skills-item-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
}
.playlist-item-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
}
.playlist-item-details {
  flex: 1;
}
.section-title {
  margin-top: 30px;
}

/* Recommended Skills CSS */
.recommended-skills-item {
  /* Adjust the size and spacing of each skill item */
  width: calc(25% - 20px); /* 4 items per row with 20px gap in between */
  margin-right: 20px; /* Adjust the gap between items */
  margin-bottom: 20px; /* Adjust the gap below each row */
  display: inline-block; /* Display items in a row */
  vertical-align: top; /* Align items to the top of the row */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}


.recommended-image-other-skills-item-img img {
  /* Adjust the size of the image */
  width: 100%;
  height: auto;
  border-radius: 8px; /* Add border radius for rounded corners */
}
.playlist-item-image-other-skills-item {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
  
}

.nav-play {
  width: 100%; /* Ensure the image fills its container */
  background-color: #282828;
  padding: 5px;
  border-radius: 30px;
  color: white;
  overflow-wrap: break-word;
  margin-top: 20px;
}
.nav-playlistbtn {
    width: calc(50% - 10px); /* Subtract margin width */
    margin-bottom: 20px; /* Adjust margin between items */
    width: 75px;
  }

  .navplay-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align items to the left */
    width: 70%; /* Adjust the width as needed */
    height: 180px; /* Adjust the height as needed */
    margin-bottom: -100px;
    gap: 25px;
    margin-left: -40px;
    text-align: center;

  }
  
.nav-playlistbtn a {
  display: block; /* Make the anchor tag a block element */
  text-align: center; /* Center the content horizontally */
  color: white;
}

.playlist-item-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}


.playlist-item-name {
  margin: 0; /* Remove default margin */
  font-weight: bold;
  text-align: left;
}

.playlist-item-description {
  color: #b3b3b3;
}

/* media screens */
@media only screen and (max-width: 1800px) {
  .hero--section--title {
    font-size: 68px;
    line-height: 70px;
  }
  .skills--section--title {
    font-size: 28px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 1600px) {
  .skills--section--heading {
    font-size: 54px;
    line-height: 70px;
  }
  .skills--section--container {
    gap: 16px;
  }
  .skills--section--card {
    gap: 28px;
  }
  .skills--section--card--content {
    gap: 20px;
  }
  .skills--section--title {
    font-size: 23px;
    line-height: 30px;
  }
  .skills--section--description {
    font-size: 17.333px;
    line-height: 27px;
  }
}

@media only screen and (max-width: 1200px) {
  .btn-outline-primary {
    display: none;
  }
  .hero--section {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 70px;
  }
  .hero--section--title,
  .hero--section-description,
  .footer--content {
    text-align: center;
  }
  .skills--section--container,
  .about--section,
  .portfolio--section--container,
  .portfolio--container-box,
  .footer--link--container,
  .footer--items > ul,
  .footer--content--container {
    display: flex;
    flex-direction: column;
  }
  .skills--section,
  .portfolio--container,
  .hero--section--content,
  .hero--section--content--box {
    align-items: center;
  }
  .portfolio--container-box {
    gap: 30px;
  }
  .skills--section,
  .testimonial--section,
  .contact--section,
  .footer--container {
    gap: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .about--section {
    gap: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .testimonial--section--card {
    padding: 25px;
  }
  .hero--section--title,
  .skills--section--heading,
  .sections--heading {
    font-size: 35px;
    line-height: 40px;
  }
  .hero--section--content--box {
    gap: 10px;
  }
  .contact--form--container {
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer--social--icon > ul,
  .footer--items > ul {
    padding: 0;
    align-items: center;
  }
  .divider {
    margin: 20px;
  }
}
.nav__hamburger {
  display: none;
  width: 1.875rem;
  height: 1.313rem;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 25px;
  right: 25px;
}

.nav__hamburger__line {
  display: block;
  height: 0.188rem;
  width: 100%;
  background-color: #000000;
  border-radius: 0.625rem;
  transition: all ease-in-out 0.2s;
}



@media screen and (max-width: 1200px) {
  .nav__hamburger {
    display: flex;
    z-index: 200;
  }
  .navbar--items {
    display: flex;
  }
  .navbar--items {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255);
    top: -20rem;
    left: 0;
    width: 100%;
    transition: all ease-in-out 0.4s;
  }
  .navbar--items ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 0 0.6rem;
    z-index: -100;
  }
  .navbar--items ul li {
    text-align: center;
  }
  .navbar--items ul li a {
    padding: 0.5rem;
  }
  .navbar--items {
    z-index: -1000;
  }
  .navbar--items.active {
    top: 30px;
  }
  .nav__hamburger.active :nth-child(1) {
    transform: rotate(45deg) translate(0.45rem, 0.1875rem);
  }

  .nav__hamburger.active :nth-child(2) {
    opacity: 0;
  }

  .nav__hamburger.active :nth-child(3) {
    transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
  }
}
/* For WebKit browsers like Chrome and Safari */
*::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

*::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

*::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 5px; /* Rounded corners */
}

*::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}


@media screen and (max-width: 768px) {
  .btn-bottom-right {
    position: relative;
    bottom: 20px;
    right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .btn-resume {
    position: relative;
    bottom: 20px;
    right: 20px;
  }
}
@media (max-width: 400px) {
  .skills--section--container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}